.setbox{
  display: flex;
}
.fullw{
  width: 100%;
}
.txtc{
  text-align: center;
}
.sethead{
  background-color: aliceblue;line-height: 39px;font-size: 23px;
}
.mt5{
  margin-top: 5px;
}
.m10{margin-top: 10px;}
.setm{
  align-items: baseline;
}

.bg1{
  background-color: #f0f3f5;
}
.bg2{
  background-color: aliceblue;
}
.pad1{
  padding: 10px;
}


#formRender label{
  width: 100px;
}

.dispt{display: table;}
.setequal{table-layout: fixed;}
.disptc{display: table-cell;padding:10px; width: 33%;}
.vmid{vertical-align: middle;}
.vtop{vertical-align: top;}
.vhid{visibility: hidden;}
.setemp{border: 1px dotted lightgrey;
  width:200px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;background-color: #eee;}
.txtc{text-align: center;} 
 

#mainCont{display: flex;}



.leftpanel{
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 17%;
  display: flex;
  flex-direction: column; 
}

.rightpanel{
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding:5px
}

.panelopt{
  background-color: aliceblue;
  line-height: 40px;
  border-bottom: 1px solid #a9b3bb;
}



.box{
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
}